version: '3.9'

services:
  postgres:
    image: postgres:16
    container_name: postgres_dev
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    build:
      context: ./api
      dockerfile: Dockerfile.dev
    container_name: backend_dev
    env_file:
      - .env
    ports:
      - '3000:3000'
    volumes:
      - ./api:/app
      - /app/node_modules
    depends_on:
      - postgres
    environment:
      - CHOKIDAR_USEPOLLING=true
      - CHOKIDAR_INTERVAL=2000

  client:
    build:
      context: ./client
      dockerfile: Dockerfile.dev
    container_name: frontend_dev
    ports:
      - '4200:4200'
    volumes:
      - ./client:/app
      - /app/node_modules
    depends_on:
      - api

volumes:
  pgdata:
